<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @products.each do |product| %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
  <% end %>